:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --color-logo: #2196F3;
    --white-color: #ffffff;
    --cursor-default: default;

}
body {
    font-family: 'Roboto', sans-serif, 'Arial', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
                            
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}                      
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
                                /* Header section */
.header-style {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
}
                                    /* Logo */
.logo-head {
    text-decoration: none;
    cursor: var(--cursor-default);
}
.logo-one {
    color: var(--color-logo);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-dark {
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
                                /*  Site nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item + .item {
    margin-left: 50px;
}
.site-nav .link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: var(--cursor-default);
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--color-logo);
}
.site-nav .link.current {
    color: var(--color-logo);
}
                                /* Info nav */
.info {
    display: flex;
    margin-left: auto;
}
.item {
    align-items: center;
}
.info-svg {
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
}
.link:hover,
.link:focus {
    fill: var(--color-logo);
}
.info-svg .item + .item {
    margin-left: 10px;
}
.info .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: var(--cursor-default);
}
.info .item + .item {
    margin-left: 50px;
}
.info .link:hover, 
.info .link:focus {
    color: var(--color-logo);
}
                                /* Servis section */
.service {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Background-Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}
.service-hero {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.service-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
}
.service button {
    color: var(--white-color);
    background: var(--color-logo);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
                                /* Benefits section */
.benefits-list {
    display: flex;  
}
.benefits .item + .item {
    margin-left: 30px;
}
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    
}
.benefits-hero {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.benefits-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

                                /* Work section */
.work-list {
    display: flex;
}
.work {
    padding-bottom: 94px;
}
.work-hero {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-list .item + .item {
    margin-left: 30px;
}
.work-list img {
    display: block;
    max-width: 100%;
    height: auto;
}

                                /* Team section */
.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
}
.team-list .item {
    border: 1px solid inherit;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list .item + .item {
    margin-left: 30px;
}
.team-hero {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}
.team-name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}
.team-position {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}
.team-list .team-style {
    padding-top: 30px;
    padding-bottom: 16px;
}                                    
    
                                     /* Social content */
.link-svg {
    display: block;
    margin: 0 auto;
    padding: -12px;
}
.social-button {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}
.social-button .link {
    fill: #AFB1B8;
    padding: 12px 12px;
    border-radius: 50%;
}
.social-button .link + .link {
    margin-left: 10px;
}
.social-button .link:hover,
.social-button .link:focus {
    fill: var(--white-color);
    background-color: var(--color-logo);
    outline: none;
}
.link-svg:hover,
.link-svg:focus {
    fill: var(--white-color);
    outline: none;
}
                                /* clients section */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.clients-item:not(:last-child) {
    margin-right: 30px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--color-logo);
    fill: var(--color-logo);
    outline: none;
}

                                /* Footer section */
.footer .logo-footer {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: var(--cursor-default);
}
.address a {
    display: block;
    margin-bottom: 9px;
}
.address a:last-child {
    margin-bottom: 0;
}
.footer .container {
    padding-top: 0;
    padding-bottom: 0;
}
.logo-white {
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.address-location {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address a {
    text-decoration: none;
    font-style: normal;
    cursor: var(--cursor-default);
}
.address a:hover,
.address a:focus {
    color: var(--color-logo);
}
                                    /* Social section */        
.footer {
    display: flex;
}
.adress-item {
    display: flex;
    flex-direction: column;
}
.join-hero {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 12px;
    margin-bottom: 20px;
}
.social-item {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.join-link {
    display: flex;
}
.social-item .link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    outline: none;
}
.social-item .link+.link {
    margin-left: 10px;
}
.social-item .link:hover,
.social-item .link:focus {
    background-color: var(--color-logo);
    fill: var(--white-color);
}
.social-button .link:hover,
.social-button .link:focus {
    fill: var(--white-color);
    background-color: var(--color-logo);
}
.link-svg:hover,
.link-svg:focus {
    fill: var(--white-color);
}
.join-svg {
    display: block;
    margin: 0 auto;
}
.join-svg:hover,
.join-svg:focus {
    fill: var(--white-color);
}
                                    
                                    /* Страница Портфолио */

                                        /* Фильтр */
.carousel {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-button {
    display: flex;  
    justify-content: center;
    margin-bottom: 50px;
}
.list-filter {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: inherit;
    padding: 6px 22px;
}
.list-button .item + .item {
    margin-left: 8px;
}
.list-button .current {
    color: var(--white-color);
    background-color: var(--color-logo);
}
 .list-button button:hover,
 .list-button button:focus {
    outline: none;
    color: var(--white-color);
    background-color: var(--color-logo);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }
                                        /* Портфолио */

.block-style {
    display: block;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.examples-hero {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}
.examples-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}
.examples {
    display: flex;
    flex-wrap: wrap;
}
.examples img {
    display: block;
    max-width: 100%;
    height: auto;
}
.examples-item {
    border: 1px solid #EEEEEE;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.examples-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-item:nth-child(3n) {
    margin-right: 0;
}
.examples-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
